#container {
    width: 80%;
    margin: auto;
    text-align: left;
}

.wrapper {
    border: 2px solid indigo;
    background-color: indigo;
    margin-bottom: 10px;
    color: #fff;
    border-radius: 20px;
    position: relative;
}

.floating {
    position: absolute;
    top: 10px;
    right: 10px;
}

.floating2 {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.error {
    color: red;
}


/*{}*/